BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #000; PADDING-TOP: 0px; TEXT-ALIGN: center
}
UNKNOWN {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
SPAN {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
A IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
TABLE {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
A {
	COLOR: #000; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.c2 {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 100%; PADDING-TOP: 0px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.c3 {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 100%; PADDING-TOP: 0px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.c4 {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 100%; PADDING-TOP: 0px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.c5 {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 100%; PADDING-TOP: 0px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.c2 LI {
	FLOAT: left; WIDTH: 49.5%
}
.c2 DIV {
	FLOAT: left; WIDTH: 49.5%
}
.c3 LI {
	FLOAT: left; WIDTH: 33%
}
.c3 DIV {
	FLOAT: left; WIDTH: 33%
}
.c4 LI {
	FLOAT: left; WIDTH: 25%
}
.c4 DIV {
	FLOAT: left; WIDTH: 25%
}
.c5 LI {
	FLOAT: left; WIDTH: 20%
}
.c5 DIV {
	FLOAT: left; WIDTH: 20%
}
.Picgroup {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 100%; TEXT-ALIGN: center
}
.Picgroup IMG {
	DISPLAY: block; MARGIN: 0px auto
}
.Picgroup H5 {
	FONT-WEIGHT: normal; WIDTH: 100%; TEXT-ALIGN: center
}
.Picgroup LI {
	DISPLAY: inline; TEXT-ALIGN: center
}
.PicTextGroup {
	MARGIN: 0px auto; WIDTH: 92%; COLOR: #333333; LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
.PicTextGroup IMG {
	FLOAT: left; MARGIN: 0px 4px 0px 0px
}
.PicTextGroup A {
	COLOR: #333333
}
.PicTextGroup P {
	CLEAR: none
}
.PicTextGroup H4 {
	CLEAR: none; TEXT-ALIGN: right
}
.f12_FF33 {
	COLOR: #ff3300
}
.f12_FF33 A {
	COLOR: #ff3300
}
.f12_3333 {
	COLOR: #333333
}
.f12_3333 A {
	COLOR: #333333
}
.f12_6666 {
	COLOR: #666666
}
.f12_6666 A {
	COLOR: #666666
}
.f12_F68A {
	COLOR: #f68a08
}
.f12_F68A A {
	COLOR: #f68a08
}
.f12_54A7 {
	COLOR: #54a701
}
.f12_54A7 A {
	COLOR: #54a701
}
.f12_246D {
	COLOR: #246db6
}
.f12_246D A {
	COLOR: #246db6
}
.f14list .more {
	TEXT-ALIGN: right
}
.f14list UL {
	MARGIN: auto; WIDTH: 100%
}
.f14list LI {
	FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: 24px; TEXT-ALIGN: left
}
.f14list LI A {
	COLOR: #333333
}
.f14list .red {
	COLOR: #f00
}
.f14list .red A {
	COLOR: #f00
}
.f14list .blue {
	COLOR: #006699
}
.f14list .blue A {
	COLOR: #006699
}
.f12list UL {
	MARGIN: auto; WIDTH: 100%
}
.f12list .more {
	TEXT-ALIGN: right
}
.f12list LI {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
.f12list P {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
.f12list LI A {
	COLOR: #333333
}
.f12list P A {
	COLOR: #333333
}
.f12list .f12_FF33 {
	COLOR: #ff3300
}
.f12list .f12_FF33 A {
	COLOR: #ff3300
}
.fb {
	FONT-WEIGHT: bold
}
.Area {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 950px; HEIGHT: auto
}
.unline {
	TEXT-DECORATION: underline
}
.unline A {
	TEXT-DECORATION: underline
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
.f16 {
	FONT-SIZE: 16px
}
.lh26 {
	LINE-HEIGHT: 26px
}
.lh24 {
	LINE-HEIGHT: 24px
}
.lh22 {
	LINE-HEIGHT: 22px
}
.lh20 {
	LINE-HEIGHT: 20px
}
.lh18 {
	LINE-HEIGHT: 18px
}
.img1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px; HEIGHT: 1px
}
.blank5 {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: #fff; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 5px
}
.blank5_t {
	CLEAR: both; FONT-SIZE: 1px; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 5px
}
.blank3 {
	FONT-SIZE: 1px; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 3px
}
.blank7 {
	FONT-SIZE: 1px; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 7px
}
.blank8 {
	CLEAR: both; FONT-SIZE: 1px; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 8px
}
.blank10 {
	FONT-SIZE: 1px; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 10px
}
.blank12 {
	FONT-SIZE: 1px; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 12px
}
.blank14 {
	FONT-SIZE: 1px; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 14px
}
.blank18 {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: #fff; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 18px
}
.bord01 {
	BORDER-TOP: #d8d8d8 1px solid
}
.bord02 {
	BORDER-BOTTOM: #d8d8d8 1px solid
}
.bord03 {
	BORDER-TOP: #afd8ee 1px solid
}
.bord04 {
	BORDER-BOTTOM: #afd8ee 1px solid
}
.txtleft {
	TEXT-ALIGN: left
}
.txtright {
	TEXT-ALIGN: right
}
.txtcenter {
	TEXT-ALIGN: center
}
.w98 {
	WIDTH: 98%
}
.w96 {
	WIDTH: 96%
}
.w95 {
	WIDTH: 95%
}
.w92 {
	WIDTH: 92%
}
.w90 {
	WIDTH: 90%
}
.w85 {
	WIDTH: 85%
}
.w80 {
	WIDTH: 80%
}
.w75 {
	WIDTH: 75%
}
.w70 {
	WIDTH: 70%
}
.w65 {
	WIDTH: 65%
}
.w60 {
	WIDTH: 60%
}
.w55 {
	WIDTH: 55%
}
.w50 {
	WIDTH: 50%
}
.more {
	PADDING-RIGHT: 5px; TEXT-ALIGN: right
}
.ad_Col {
	MARGIN: 8px auto
}
#indexNav {
	BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 950px; COLOR: #000; PADDING-TOP: 3px; HEIGHT: 21px; TEXT-ALIGN: left
}
#indexNav UL {
	CLEAR: none; PADDING-RIGHT: 6px
}
#indexNav LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px auto 0px; LINE-HEIGHT: 14px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#indexNav .end {
	PADDING-RIGHT: 0px
}
#indexNav .red A {
	COLOR: #f00
}
#indexNav A {
	COLOR: #000
}
#channelNav {
	BORDER-TOP: #fff 3px solid; BACKGROUND: #efebef; MARGIN: 0px auto; WIDTH: 950px; COLOR: #000; BORDER-BOTTOM: #fff 4px solid; HEIGHT: 22px; TEXT-ALIGN: left
}
#channelNav UL {
	CLEAR: none; PADDING-RIGHT: 6px
}
#channelNav LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px auto 0px; LINE-HEIGHT: 14px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#channelNav .end {
	PADDING-RIGHT: 0px
}
#channelNav .red A {
	COLOR: #f00
}
#channelNav A {
	COLOR: #000
}
#foot {
	PADDING-BOTTOM: 5px; COLOR: #333; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
#foot A {
	COLOR: #333
}
.blank3 {
	FONT-SIZE: 1px; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 3px
}
.blank5 {
	FONT-SIZE: 1px; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 5px
}
.blank8_ff {
	FONT-SIZE: 1px; MARGIN: 0px auto; WIDTH: 1px; HEIGHT: 0px
}
.blank5_white {
	FONT-SIZE: 1px; BACKGROUND: #fff; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 5px
}
.blank10 {
	FONT-SIZE: 1px; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 10px
}
