#indexNav {
	BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 833px; COLOR: #000; PADDING-TOP: 3px; HEIGHT: 21px; TEXT-ALIGN: left
}
#indexNav UL {
	CLEAR: none; PADDING-RIGHT: 6px
}
#indexNav LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px auto 0px; LINE-HEIGHT: 14px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#indexNav .end {
	PADDING-RIGHT: 0px
}
#indexNav .red A {
	COLOR: #f00
}
#indexNav A {
	COLOR: #000
}
#foot {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; WIDTH: 833px; LINE-HEIGHT: 18px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#menu {
	WIDTH: 140px
}
#menu .txt {
	MARGIN: 8px auto; COLOR: #fff
}
#menu .txt A {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
#menu .list {
	MARGIN: 0px auto 2px; WIDTH: 133px; CURSOR: pointer; COLOR: #023b7c; TEXT-INDENT: 40px; PADDING-TOP: 8px; HEIGHT: 20px; TEXT-ALIGN: left
}
#menu .bg01 {
	BACKGROUND: url(pic77_2.gif)
}
#menu .bg02 {
	BACKGROUND: url(pic78_2.gif)
}
#menu .bg03 {
	BACKGROUND: url(pic79_2.gif)
}
#menu .bg04 {
	BACKGROUND: url(pic80_2.gif)
}
#menu .list02 {
	BACKGROUND: url(pic84.gif) repeat-y left 50%; MARGIN: 4px 4px 4px 10px; WIDTH: 116px
}
#menu .list02 DIV {
	BACKGROUND: url(pic81.gif) no-repeat left top; CURSOR: pointer; COLOR: #fff; TEXT-INDENT: 33px; PADDING-TOP: 5px; HEIGHT: 13px; TEXT-ALIGN: left
}
#menu .list02 DIV A {
	COLOR: #fff
}
#menu UL {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 2px auto 4px 28px; WIDTH: 90px
}
#menu LI {
	BACKGROUND: url(pic83_2.gif) no-repeat left 50%; CURSOR: pointer; COLOR: #fff; TEXT-INDENT: 14px; PADDING-TOP: 5px; HEIGHT: 13px; TEXT-ALIGN: left
}
#menu LI A {
	COLOR: #fff
}
.cake01 {
	MARGIN: 0px auto; WIDTH: 833px; COLOR: #333
}
.cake01 A {
	COLOR: #333
}
.cake01 IMG {
	MARGIN: 0px 3px
}
.cake01 .w665 {
	FLOAT: left; WIDTH: 665px; TEXT-INDENT: 8px; TEXT-ALIGN: left
}
.cake01 .w168 {
	FLOAT: right; WIDTH: 168px; TEXT-ALIGN: left
}
.cake01 .fc_FF0000 {
	COLOR: #ff0000
}
.cake01 .fc_FF0000 A {
	COLOR: #ff0000
}
.cake01 .fc_666666 {
	COLOR: #666
}
.cake01 .fc_666666 A {
	COLOR: #666
}
.cake02 {
	WIDTH: 833px; LINE-HEIGHT: 19px; TEXT-ALIGN: left
}
.cake02 .w120 {
	FLOAT: left; WIDTH: 120px
}
.cake02 .w708 {
	BORDER-RIGHT: #c1d7ec 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #c1d7ec 1px solid; PADDING-LEFT: 8px; BACKGROUND: #f2faff; FLOAT: right; PADDING-BOTTOM: 2px; BORDER-LEFT: #c1d7ec 1px solid; WIDTH: 690px; PADDING-TOP: 2px; BORDER-BOTTOM: #c1d7ec 1px solid
}
.cake02 P {
	COLOR: #333; LINE-HEIGHT: 19px; TEXT-ALIGN: left
}
.cake02 P A {
	COLOR: #333
}
.cake02 .w333 {
	FLOAT: left; WIDTH: 333px
}
.cake02 .w334 {
	FLOAT: right; WIDTH: 334px
}
.cake02 .w60 {
	FLOAT: left; WIDTH: 60px
}
.cake02 .w264 {
	FLOAT: left; WIDTH: 264px
}
.cake02 .fc_08599D {
	COLOR: #08599d; MARGIN-RIGHT: 5px
}
.cake02 .fc_08599D A {
	COLOR: #08599d; MARGIN-RIGHT: 5px
}
.cake02 .fc_0840B2 {
	COLOR: #0840b2; TEXT-DECORATION: underline
}
.cake02 .fc_0840B2 A {
	COLOR: #0840b2; TEXT-DECORATION: underline
}
.cake03 {
	BACKGROUND: url(pic54.gif); WIDTH: 833px; HEIGHT: 29px
}
.cake03 .w500 {
	MARGIN-TOP: 8px; FLOAT: left; WIDTH: 500px; COLOR: #ff3300; TEXT-INDENT: 12px; TEXT-ALIGN: left
}
.cake03 .w333 {
	MARGIN-TOP: 5px; FLOAT: right; WIDTH: 333px; TEXT-ALIGN: right
}
.cake03 INPUT {
	BORDER-RIGHT: #92b7e5 1px solid; BORDER-TOP: #92b7e5 1px solid; MARGIN-BOTTOM: 2px; BORDER-LEFT: #92b7e5 1px solid; WIDTH: 160px; COLOR: #999; LINE-HEIGHT: 18px; MARGIN-RIGHT: 4px; BORDER-BOTTOM: #92b7e5 1px solid; HEIGHT: 16px; TEXT-ALIGN: center
}
.cake03 SELECT {
	WIDTH: 90px; MARGIN-RIGHT: 4px
}
.cake03 IMG {
	MARGIN-TOP: -8px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.cake04 {
	BACKGROUND: url(pic56.gif); WIDTH: 833px; HEIGHT: 33px
}
.cake04 .w580 {
	MARGIN-TOP: 10px; FLOAT: left; WIDTH: 580px; COLOR: #08599d; TEXT-INDENT: 14px; TEXT-ALIGN: left
}
.cake04 .w580 A {
	COLOR: #08599d
}
.cake04 .w253 {
	MARGIN-TOP: 6px; FLOAT: right; WIDTH: 253px; COLOR: #333; TEXT-ALIGN: right
}
.cake04 .w253 A {
	COLOR: #333
}
.cake04 .w253 SPAN {
	COLOR: #ff3300
}
.cake04 .w253 INPUT {
	BORDER-RIGHT: #92b7e5 1px solid; BORDER-TOP: #92b7e5 1px solid; MARGIN: 0px 4px; BORDER-LEFT: #92b7e5 1px solid; WIDTH: 28px; LINE-HEIGHT: 18px; BORDER-BOTTOM: #92b7e5 1px solid; HEIGHT: 16px
}
.cake04 IMG {
	MARGIN-TOP: -8px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.cake05 {
	WIDTH: 833px
}
.cake05 .w433 {
	FLOAT: left; WIDTH: 433px; COLOR: #333; TEXT-INDENT: 14px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.cake05 .w433 A {
	COLOR: #333
}
.cake05 .w400 {
	FLOAT: right; WIDTH: 400px; PADDING-TOP: 6px; TEXT-ALIGN: right
}
.cake05 .w433 IMG {
	MARGIN-TOP: -3px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.cake05 .w400 IMG {
	MARGIN-RIGHT: 5px
}
.cake06 {
	WIDTH: 833px
}
.cake06 TABLE {
	WIDTH: 833px; COLOR: #004d9e
}
.cake06 TABLE A {
	COLOR: #004d9e
}
.cake06 TD {
	PADDING-TOP: 3px; HEIGHT: 26px
}
.cake06 .top {
	BACKGROUND: url(pic65.gif) repeat-x
}
.cake06 .top TD {
	FONT-WEIGHT: bold; COLOR: #fff
}
.cake06 .fc_ffffff {
	COLOR: #fff
}
.cake06 .fc_ffffff A {
	COLOR: #fff
}
.cake06 .fc_FF3300 {
	COLOR: #ff3300
}
.cake06 .fc_FF3300 A {
	COLOR: #ff3300
}
.cake06 IMG {
	MARGIN-TOP: -3px; MARGIN-LEFT: 4px; VERTICAL-ALIGN: middle
}
.cake06 .title {
	FONT-SIZE: 14px; TEXT-INDENT: 8px; TEXT-ALIGN: left
}
.cake07 {
	WIDTH: 833px
}
.cake07 .w400 {
	MARGIN-TOP: 6px; FLOAT: left; WIDTH: 400px; TEXT-INDENT: 8px; PADDING-TOP: 8px; TEXT-ALIGN: left
}
.cake07 .w400 IMG {
	MARGIN-RIGHT: 5px
}
.cake07 .w253 {
	MARGIN-TOP: 6px; FLOAT: right; WIDTH: 253px; COLOR: #333; TEXT-ALIGN: right
}
.cake07 .w253 A {
	COLOR: #333
}
.cake07 .w253 SPAN {
	COLOR: #ff3300
}
.cake07 .w253 INPUT {
	BORDER-RIGHT: #92b7e5 1px solid; BORDER-TOP: #92b7e5 1px solid; MARGIN: 0px 4px; BORDER-LEFT: #92b7e5 1px solid; WIDTH: 28px; LINE-HEIGHT: 18px; BORDER-BOTTOM: #92b7e5 1px solid; HEIGHT: 16px
}
.cake07 IMG {
	MARGIN-TOP: -8px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.cake08 {
	BORDER-RIGHT: #c1d7ec 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #c1d7ec 1px solid; PADDING-LEFT: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; BORDER-LEFT: #c1d7ec 1px solid; WIDTH: 828px; PADDING-TOP: 1px; BORDER-BOTTOM: #c1d7ec 1px solid
}
.cake08 H2 {
	FONT-WEIGHT: bold; BACKGROUND: url(pic69.gif) #d5eaff no-repeat left 50%; WIDTH: 828px; COLOR: #00519d; TEXT-INDENT: 28px; PADDING-TOP: 6px; HEIGHT: 19px; TEXT-ALIGN: left
}
.cake08 P {
	MARGIN: 10px auto; WIDTH: 778px; COLOR: #333; LINE-HEIGHT: 22px; TEXT-ALIGN: left
}
.cake08 P A {
	COLOR: #333
}
.ad830 {
	FLOAT: left; MARGIN: 0px auto 5px; WIDTH: 830px
}
.area {
	CLEAR: both; WIDTH: 838px
}
.column157 {
	FLOAT: left; WIDTH: 157px
}
.column833 {
	FLOAT: right; WIDTH: 833px
}
.line01 {
	FONT-SIZE: 1px; BACKGROUND: url(pic68.gif) repeat-x; OVERFLOW: hidden; HEIGHT: 7px
}
.line02 {
	FONT-SIZE: 1px; BACKGROUND: url(pic76_2.gif) repeat-x; OVERFLOW: hidden; WIDTH: 139px; HEIGHT: 2px
}
